.main-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.main-section.-skills {
  background-color: #0e2b37;
  border-bottom: 10px solid #000;
}

.main-section .main-title {
  margin-bottom: 60px;
}

.main-section.-github {
  background-color: #1a5269;
  border-bottom: 10px solid #000;
}

.main-section.-contato {
  background-color: #f54771;
}
