.section {
  padding-top: 50px;
  padding-bottom: 100px;

  background-color: #0e2b37;
  border-bottom: 10px solid #000;
}

.section .main-title {
  margin-bottom: 60px;
}

.section.-github {
  height: 300px;

  background-color: #1b2340;
  border-bottom: 10px solid #000;
}

.section.-contato {
  height: 500px;

  background-color: #870726;
}
